// _global.scss

body {
    font-family: var(--font_a);
  }
  
  h2 {
    font-family: var(--font_title2);
    font-size: var(--size_titulos);
    color: var(--color_font_title);
  }
  
  // Agrega cualquier otro estilo global que necesites.
  