// _variables.scss

@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap");

:root {
  --espacios_title_h2: 10px;
  --espacios-contenido_line: 45px;
  --size_titulos: 48px;
  --size_parrafos: 18px;
  --size_margenes: 60px;
  --color_font_title: #f2f2f2cb;
  --secondary-bg-color: #00886e;
  --font_title1: "Righteous";
  --font_title2: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  --font_a: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
